---
layout: default
title: hon-ne
permalink: /
---

<article>

    <header>
        <h1>本音.
            <span class="tlt">
                <ul class="texts">
                    <li>hon-ne.</li>
                    <li>真心话.</li>
                </ul>
            </span>
        </h1>
        <small>A blog by <b>Dan Zheng</b>.</small>
    </header>

    <small class="latest-post">
        I recently wrote:
        {% for post in site.posts limit:4 %}
          {% include themes/{{ site.theme }}/includes/page-item.html %}
        {% endfor %}
   </small>

</article>
